<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_Logon">
            <security mode="TransportCredentialOnly">
              <transport clientCredentialType="Ntlm" />
            </security>
          </binding>
          <binding name="BasicHttpBinding_Logon1">
            <security mode="TransportCredentialOnly">
              <transport clientCredentialType="Ntlm" />
            </security>
          </binding>
        </basicHttpBinding>
        <customBinding>
          <binding name="defaultBinding" openTimeout="00:10:00" receiveTimeout="00:15:00"
            sendTimeout="00:05:00">
            <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16">
              <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            </binaryMessageEncoding>
            <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
              maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Ntlm"
              bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
          </binding>
          <binding name="CustomBinding_EntitiesBasicLists">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_Entities">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_AcpParameterization">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_Automatons">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_AutomatonsBasicLists">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_BusinessFramework">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_CreditOperations">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_CreditOperationsConfig">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_AcpFramework">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_CreditOperationsBasicLists">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_Simulations">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
          <binding name="CustomBinding_Top">
            <binaryMessageEncoding />
            <httpTransport authenticationScheme="Ntlm" />
          </binding>
        </customBinding>
      </bindings>
      
        <client>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/EntitiesBasicLists.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_EntitiesBasicList.EntitiesBasicLists" name="CustomBinding_EntitiesBasicLists">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/SecurityWebServices/Logon.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Logon1"
                contract="SVC_Logon.Logon" name="BasicHttpBinding_Logon1" />
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/Framework/Entities.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_Entities.Entities" name="CustomBinding_Entities1">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/Framework/AcpParameterization.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_AcpParameterizations.AcpParameterization" name="CustomBinding_AcpParameterization">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>         
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/Framework/Automatons.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_Automatons.Automatons" name="CustomBinding_Automatons">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/BasicLists/AutomatonsBasicLists.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_AutomatonsBasicLists.AutomatonsBasicLists" name="CustomBinding_AutomatonsBasicLists">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/BusinessFramework.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_BusinessFramework.BusinessFramework" name="CustomBinding_BusinessFramework">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/CreditOperations.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_CreditOperation.CreditOperations" name="CustomBinding_CreditOperations">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Services/CreditOperationsConfig.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_CreditOperationsConfig.CreditOperationsConfig"
                name="CustomBinding_CreditOperationsConfig">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/FrameworkWebServices/Services/AcpFramework.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_Framework.AcpFramework" name="CustomBinding_AcpFramework">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/BasicLists/CreditOperationsBasicLists.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_OPBasicLists.CreditOperationsBasicLists" name="CustomBinding_CreditOperationsBasicLists">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/OperationsWebServices/Operations/Simulations.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_Simulations.Simulations" name="CustomBinding_Simulations">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
            <endpoint address="http://accipiens.vtxrm.pt/accipienswebservicestraining/TopWebServices/Top.svc"
                binding="customBinding" bindingConfiguration="defaultBinding"
                contract="SVC_TOP.Top" name="CustomBinding_Top">
                <identity>
                    <userPrincipalName value="eb@vantyx.lan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>